.header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 4px -2px black;
  &__title {
    color: black;
    margin: 0;
    font-family: "Lobster", cursive;
  }
  &__right {
    width: fit-content;
  }
  &__login {
    display: flex;
    & b {
      color: black;
      margin-right: 15px;
    }
    & button {
      width: fit-content;
    }
  }
  &__link {
    text-decoration: none;
  }
}

@media screen and (max-width: 760px) {
  .header__title {
    font-size: 18px;
  }
}
