.header {
  grid-area: header;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;

  text-align: center;

  background-color: #231f20;
  &__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &__title {
    color: white;
    margin: 0;
    font-family: "Lobster", cursive;
  }
  &__login {
    width: fit-content;
  }
  &__login h3 {
    color: white;
  }
}
