.navbar {
  grid-area: nav;
  background-color: green;
  &__list {
    list-style: none;
  }
  &__item a {
    text-decoration: none;
    font-family: "Lobster", cursive;
    color: white;
    font-size: 32px;
  }
}
