.profile__info {
  display: grid;
  grid-auto-flow: column;
  position: absolute;
  padding: 0 20px;
  z-index: 999;
  top: 170px;
  &__description {
    display: grid;
    text-align: center;
    & h3 {
      color: white;
      font-family: "Lobster", cursive;
      font-size: 28px;
      margin: 0;
      align-self: end;
    }
    & p {
      align-self: start;
      color: white;
      margin: 0;
    }
  }
  &__photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin-right: 20px;
  }
}
